@model string[];
@{
    ViewData["Title"] = "Home Page";
}

<div style="margin: 2em">
    <form asp-action="Index" method="POST" class="form-inline">
    <div class="form-group">
        <label for="amount">Input the N</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="0">
    </div>
    <button type="submit" class="btn btn-default btn-success">Submit</button>
    </form>
    <span class="badge">@ViewBag.ErrorMessage</span>
    @if(Model != null)
    {
        <hr>
        <h3>Result</h3>
        @foreach(var item in Model)
        {
            <p>@item</p>
        }
    }
</div>