@model MultiplicationData;
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <div class="form-group">
            <label for="usr">Input the N</label>
            <input type="number" class="form-control" asp-for="InputNumber">
            <button class="btn btn-default" type="submit">Calculate</button>
        </div>
    }

    @if(ViewBag.MultiplicationTable !=null)
    {
        var table = ViewBag.MultiplicationTable as multiplication.Models.MultiplicationTable;
            @foreach(var item in table.Rows)
            {
                <div>
                    @item
                </div>
            }
    }

</div>
