@model string[];
@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<div>
    <form asp-action="Index" method="POST">
        <div class="form-group">
            <input type="number" name="InputNumber" id="InputNumber">
        </div>
        <button type="submit" class="btn btn-large">Generate</button>
        
        @{
            var text = string.Empty;
            foreach (var item in Model)
            {
                text += $"{item} ";
            }
            text = text.Replace("\n", "<br>");
        }
        <div>
            @Html.Raw(text)
        </div>
    </form>
</div>
