page-home {

}
.centerPosition {
    text-align: center;
}

.item-checkbox {
    position: absolute;
    // top: 50px;
    // right: 50px;
}


.footerStyle {

    background-color: rgb(229, 255, 0);
    height: 70px;
}

.ColorAmount {
 background-color: black;
 height: 70px;
 width: 100%;
 color: white
}

.ColorPrice {
    background-color: orange;

}

.ColorPurchaseBtn {
    background-color:rgb(223, 70, 70);

}

.styleBottom {
    position: fixed ;
    left: 0px;
    right: 0px;
    height: 70px;
    bottom: 0px;
    
}

.textColor {
    color:white
    
}


