<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Government</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  {{ name }}
  <br />
  <button ion-button [disabled]="isSubmited" (click)="submitClose()">Submit close vote</button>
  {{ message }}
  <ion-list *ngIf="isSubmited">
    <ion-item>
        <ion-label>Winner No</ion-label>
        <ion-label>{{ winners.winnerNumber }}</ion-label>
    </ion-item>
    <ion-item *ngFor="let it of winners.winnerNames">
      <ion-label>{{ it }}</ion-label>
    </ion-item>
    <ion-item *ngIf="!anyWinner">
        No winners in this round!
    </ion-item>
  </ion-list>
</ion-content>
