<ion-header>
  <ion-navbar>
    <ion-title>product</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="Create()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="Products">
    <div ion-row>
      <span col-5>Name</span>
      <span col-4>Serial</span>
      <span col-3 text-right>Price</span>
    </div>
    <div ion-row *ngFor="let s of Products">
      <span col-5><button (click)="Delete(s.id)">-</button> {{s.name}}</span>
      <span col-4>{{s.serialNumber}}</span>
      <span col-3 text-right>{{s.unitPrice}}</span>
    </div>
  </ion-list>
  <a class="small" (click)="Mock()">Mock</a>
  <a class="small" (click)="Reset()">Reset</a>
</ion-content>