@model IEnumerable<Somsor.Q3.Lottery.Models.Gambler>
@{
    ViewData["Title"] = "Home Page";
}

<br /><br /><br />
<div class="row">
    <form method="get" asp-action="Add">
        <label class="col-sm-4 text-right" for>Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" required autocomplete="off" />
        </div>
        <br /><br />
        <label class="col-sm-4 text-right" for>Number</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" name="number" required autocomplete="off" />
        </div>
        <br /><br />
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary">Gamble</button>
            <a class="btn btn-primary" asp-action="Result" onclick="return confirm('Start ?');">Start</a>
        </div>
    </form>
</div>

<fieldset>
    <legend>Gamblers</legend>
    <table class="table">
        <thead>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-3">Number</th>
        </thead>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Number</td>
            </tr>
        }
    </table>
</fieldset>
<i><a class="small" asp-action="Reset" onclick="return confirm('Reset ?');">Reset</a></i>
<i><a class="small" asp-action="GenerateRandomGambler" asp-route-count="10" onclick="return confirm('Add 10 ?');">Add 10 guests</a></i>
<i><a class="small" asp-action="GenerateRandomGambler" asp-route-count="50" onclick="return confirm('Add 50 ?');">Add 50 guests</a></i>
<i><a class="small" asp-action="GenerateRandomGambler" asp-route-count="100" onclick="return confirm('Add 100 ?');">Add 100 guests</a></i>
