<ion-header>
  <ion-navbar>
    <ion-title>
      Products
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="name" [(ngModel)]="newProductName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed>Price</ion-label>
        <ion-input type="number" [(ngModel)]="newProductPrice"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button (click)="createNewProduct()">Add new product</button>
      </ion-item>
    </ion-list>
  </ion-card>
  * You can click on your products you want to add them for send a purchase order.
  <ion-list>
    <ion-item *ngIf="!products">
      You have no products right now.
    </ion-item>
    <ion-item *ngFor="let it of products" (click)="selectProduct(it)">
      <ion-label>{{ it.name }}</ion-label>
      <ion-label>{{ it.price }}</ion-label>
    </ion-item>
    <ion-item>
      <button ion-button (click)="reloadProducts()">Reload products</button>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      Products for send a purchase order.
    </ion-item>
    <ion-item *ngFor="let it of selectedProducts">
      <ion-label>{{ it.product.name }}</ion-label>
      <ion-label>{{ it.product.price }}</ion-label>
      <ion-label (click)="update(it, false)">-</ion-label>
      <ion-label>{{ it.quantities }}</ion-label>
      <ion-label (click)="update(it, true)">+</ion-label>
      <ion-label (click)="remove(it)">Remove</ion-label>
    </ion-item>
  </ion-list>
  <div>
    {{ totalPrice }}
  </div>
  <button ion-button [disabled]="!canSendAnOrder" (click)="purchaseOrder()">Purchase order</button>
</ion-content>