page-home {

}
.top{
    padding-top: 1cm;
    text-align:center;
}
.text-center {
    text-align:center;
  }
.lottery{
    padding-top: 1cm;
    padding-bottom: 1cm;
    text-align:center;
    background: #ffc17b;
}
