@model List<web.Models.Item>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Store's The Catalog</h2>
<table class="table table-striped">
    <tr>
        <th class="col-md-3">Name</th>
        <th class="col-md-3">Serial Number</th>
        <th class="col-md-3">Unit Price</th>
        <th>Add to Cart</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.name</td>
            <td>@item.serial</td>
            <td>@item.price.ToString("##,###")</td>
            <td>
                <a type="button" class="btn btn-primary" asp-action="AddItem" asp-route-id="@item._id">
                    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add
                </a>
            </td>
        </tr>
    }
</table>

<h4>Add new item to Catalog</h4>
<form action="/Home/AddNewItem" method="Post">
    <table class="table table-striped">
        <tr>
            <th class="col-md-3">Name</th>
            <th class="col-md-3">Serial Number</th>
            <th class="col-md-3">Unit Price</th>
            <th>Add to Cart</th>
        </tr>
        <tr>
            <td><input type="text" name="name" /></td>
            <td><input type="text" name="serial" /></td>
            <td><input type="number" name="price" /></td>
            <td>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Add
                </button>
            </td>
        </tr>
    </table>
</form>