<ion-header>
  <ion-toolbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Catalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>



  <ion-list>
    <ion-item>
      <ion-row>
        <ion-col col-3 style="text-align: left ">
          <b>Name</b>
        </ion-col>
        <ion-col col-5 style="text-align: center">
          <b>Serial Number</b>
        </ion-col>
        <ion-col col-4 style="text-align: right">
          <b>Unit Price</b>
        </ion-col>
      </ion-row>
    </ion-item>
    <button ion-item *ngFor="let item of items" (press)="press(item)">
      <ion-row>
        <ion-col col-4 style="text-align: left ">
          {{item.name}}
        </ion-col>
        <ion-col col-4 style="text-align: left">
          {{item.serialNumber}}
        </ion-col>
        <ion-col col-4 style="text-align: right">
          {{item.price}}
        </ion-col>
      </ion-row>
    </button>
    <ion-item ion-item *ngIf="click == true" no-padding>
      <ion-row style="text-align: left">
        <ion-col col-4>
          <ion-item>
            <ion-input type="text" placeholder="name" [(ngModel)]="item.name"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-input type="text" placeholder="serial" [(ngModel)]="item.serialNumber"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-input type="number" placeholder="price" [(ngModel)]="item.price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <div padding *ngIf="click == false">
    <button ion-button outline round block color="dark" (click)="Click()">
      <ion-icon name="add-circle" style="zoom: 1.5;"></ion-icon>
    </button>
  </div>

  <ion-row *ngIf="click == true" padding>
    <ion-col col-6>
      <button ion-button block round color="dark" (click)="Cancel()">
        Cancel
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button  block round color="secondary" (click)="AddItem()">
        Add
      </button>
    </ion-col>
  </ion-row>



</ion-content>